/*@import url(“https://fonts.googleapis.com/css?family=Fontdiner+Swanky“);*/



.high {
    background-color: yellow !important;
    font-size: 7px;
  }
  .board {
    max-width: 50%;
    padding: 30px 8px 8px;
    margin: 60px auto;
    box-shadow: inset 1px 1px 0px #f1f1f1, 3px 3px 6px 3px #303038;
    background-color: #e3e3e3;
    border-radius: 17px;
  }
 
  .keyboard-row {
    display: flex;
  }
  .key {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 3px 2px;
    height: 30px;
    margin: 4px;
    letter-spacing: 0.5px;
    color: #3a3a3a;
    background-color: #f7f7f7;
    flex: 1;
    box-shadow: inset 0 -2px 0 #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    transition: transform 0.08s ease, background-color 0.08s ease, box-shadow 0.08s ease;
    cursor: pointer;
  }
  .key:hover {
    background-color: #fbfbfb;
  }
  .key:active {
    transform: translateY(1.5px);
    box-shadow: inset 0 -0.5px 0 #aaaaaa, inset 0px -1px 1px -1px #fff, 0px 0.5px 0.75px 0px #999;
  }
  .key span {
    display: inline-block;
    vertical-align: middle;
  }
  .key::before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
  }
  .keyboard-row.thin .key {
    height: 20px;
  }
  .keyboard-row.bottom-row .key {
    height: 24px;
  }
  @media (min-width: 640px) {
    .key {
      height: 48px;
    }
    .keyboard-row.thin .key {
      height: 28px;
    }
    .keyboard-row.bottom-row .key {
      height: 55px;
    }
  }
  .key.extra-size {
    flex: 1.25;
  }
  .key.extra-size-two {
    flex: 1.625;
  }
  .key.double-size {
    flex: 2.125;
  }
  .key.lowercase {
    font-size: 9px;
    text-transform: lowercase;
  }
  .key.function {
    font-size: 7px;
    text-align: right;
  }
  .key.function span {
    vertical-align: bottom;
  }
  .key.lower-right {
    vertical-align: bottom;
    text-align: right;
    padding-right: 5px;
  }
  .key.lower-left {
    vertical-align: bottom;
    text-align: left;
    padding-left: 5px;
  }
  .key.lower-center {
    vertical-align: bottom;
  }
  .key.space-bar {
    flex: 7.2;
  }
  .key .lower-row-text {
    vertical-align: bottom;
    padding-bottom: 2px;
  }
  .key .absolute-left,
  .key .absolute-right {
    position: absolute;
    top: 5px;
    font-size: 7px;
  }
  .key .absolute-left.icon,
  .key .absolute-right.icon {
    font-size: 9px;
  }
  .key .absolute-right {
    right: 5px;
  }
  .key .absolute-left {
    left: 5px;
  }
  .key .absolute-left.caps-dot {
    top: 3px;
    left: 4px;
  }
  .bottom-row .arrows {
    display: flex;
    flex: 4;
    justify-content: justify;
    align-items: flex-end;
    padding-bottom: 4px;
  }
  .bottom-row .arrows .up-down {
    flex: 1.2;
    height: 54px;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
  }
  .bottom-row .arrows .up-down .key {
    margin: 0;
  }
  .bottom-row .arrows .up-down .key:first-child {
    box-shadow: inset 0 -5px 4px -4px #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  .bottom-row .arrows .up-down .key + .key {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }
  .bottom-row .arrows .key {
    flex: 1;
    font-size: 5px;
    margin: 0 4px;
    height: 27px;
    font-family: "Georgia", sans-serif;
    color: #555;
  }
  /* function row icons */
  .fn-row-icon {
    background-size: auto 60%;
    background-position: 50% 45%;
    background-repeat: no-repeat;
  }
  .eject,
  .lo-bright,
  .hi-bright,
  .expose,
  .tilez,
  .rewind,
  .ffwd,
  .play-pause,
  .mute,
  .lo-vol,
  .hi-vol,
  .eject {
    background-size: auto 60%;
    background-position: 50% 45%;
    background-repeat: no-repeat;
  }
  .eject {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-01_1.svg);
  }
  .lo-bright {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-10_1.svg);
  }
  .hi-bright {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-09_1.svg);
  }
  .expose {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-08_1.svg);
  }
  .tilez {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-07_1.svg);
  }
  .rewind {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-06_1.svg);
  }
  .ffwd {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-04_1.svg);
  }
  .play-pause {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-05_1.svg);
  }
  .mute {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-11.svg);
  }
  .lo-vol {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-03_1.svg);
  }
  .hi-vol {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-02_1.svg);
  }
  .eject {
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-01_1.svg);
  }
  
  iframe {
    border-radius: 17px;
    box-shadow: 0px 0px 36px 36px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 17px;
    margin-left: 20%;
    width: 850px;
    height: 650px;
 }